<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="group.foodie.dao.mapper.FoodieMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="group.foodie.dao.entity.Foodie">
        <id column="id" property="id" />
        <result column="location_id" property="locationId" />
        <result column="applicant" property="applicant" />
        <result column="facility_type" property="facilityType" />
        <result column="location_description" property="locationDescription" />
        <result column="address" property="address" />
        <result column="status" property="status" />
        <result column="food_items" property="foodItems" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="zip_code" property="zipCode" />
        <result column="neighborhoods" property="neighborhoods" />
        <result column="created_date" property="createdDate" />
        <result column="modified_date" property="modifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, location_id, applicant, facility_type, location_description, address, status, food_items, latitude, longitude, zip_code, neighborhoods, created_date, modified_date
    </sql>

</mapper>
